<div class="alfa-trader"></div>

<div class="available-inventory">
  <div class="pay-title">Доступный инвентарь</div>

  <div class="step">
    <b>Шаг 1.</b> Укажите ссылку для обмена (<a href="">где её найти?</a>):
  </div>

  <div class="tradeoffer">
    <input style="width: 550px;" type="text" value="https://steamcommunity.com/tradeoffer/new/?partner=86493268&token=RD-gii2a">
  </div>

  <div class="step">
    <b>Шаг 2.</b> Выберите вещи, которые вы хотите забрать:
  </div>

  <ul class="available-items">
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpMgCwRZrhOfeEDf1v5AZfHlDQgGH4z6VEq8OJKIxUWoS8NCNdV3NGAL44a-6RxWAWOJVOp7XYN35NqAhxS5CwCWcTQ6mooC16LH1cPWWK-G-xDvIVV1h-ZtBZkTyUtZZzM2yGBiae8qMikR0p06">
    </li>
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpMgCwRZrgiLZEWDmOlUb9zVBDE1A4r-SkG0e6iUw3auXe9LY8ZkNWoQ44eo1SZGC2WGaulGS4Vp-8-BvU3oT1fSFm5sidtUnPHP1sLVXPCFqhblJQVw1eVvWJsWnxgCYzMzyjI0df52NFAY_w9jsQnuG-0tgcyLyT4">

    </li>
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpY7Dw1D7xi1ZUKC0ulDeazMAwIyA4r2Q3uxNb-Kwwf4CdNCf9U2PG5BiN7vgk0SASfQA7JAANguvM7G1gK8CwWTLDs4mYsAnLOQ1y5hMkI8">

    </li>
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpMgCwRZrgyBb1aC1vhFVe7bBQt2F5nxUki4C6KL-U2oTdlJf-tkKmwc0pqx2RcNCXCJQepBZ4990s6alFPnWGzAOmFolc9Y3a2h3JeWDPPOrha1d1Ui0bBtBMgSzk1YY2U2zjNqIaxzbFIf_V1g5VH4W7Ypoe96kWNi5ODB3qTRKg">
    </li>
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpY7Dw1D7xi1ZUKC0ulDeazeDRo4JZP6X0WvIJKGyV2tZNxIe9BsN2gK35u90xd9CHCVUuMKCoErvsyV1li4DACRfTQ-moRX1qGcgsHQXaODrxPhIgQk0ONpDs5AygYRPGQRXEL2mw">
    </li>
    <li>
      <img height="105" src="http://steamcommunity-a.akamaihd.net/economy/image/W_I_5GLm4wPcv9jJQ7z7tz_l_0sEIYUhRfbF4arNQkgGQGKd3kMuVpMgCwRZrgiDeEWCwuJDb_GVFQc1HqfoT0q5C6-C0Qa2UtxDRcNsN2sm3oav6RVDFnaCG-MXDNUv68vH11ntBASSfTQ1w4QE1_DL0sPUDffZrBLid1Z01-U8CM4N20YGuh6Ujik">
    </li>
  </ul>

  <div class="accept-terms">Нажимая кнопку, Вы соглашаетесь с условиями вывода.</div>

  <div class="centered">
     <a class="sendtradeoffer">Получить</a>
  </div>
</div>

<% content_for :profile_nav do %>
    <div class="profile-nav">
      <div class="sub-pay"><%= link_to "Пополнить баланс", controller: "profile", action: "addFunds" %></div>
      <div class="sub"><%= link_to "История операций", controller: "profile", action: "lastOperations" %></div>
      <div class="sub"><%= link_to "Забрать выигрыш", controller: "profile", action: "cashOut" %></div>
      <div class="sub"><%= link_to "Обновить данные профиля", controller: "profile", action: "update" %></div>
    </div>
<% end %>